In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=pd.read_excel('data_ABC.xls')

In [4]:
df.shape

(1200, 28)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 28 columns):
EmpNumber                       1200 non-null object
Age                             1200 non-null int64
Gender                          1200 non-null object
EducationBackground             1200 non-null object
MaritalStatus                   1200 non-null object
EmpDepartment                   1200 non-null object
EmpJobRole                      1200 non-null object
BusinessTravelFrequency         1200 non-null object
DistanceFromHome                1200 non-null int64
EmpEducationLevel               1200 non-null int64
EmpEnvironmentSatisfaction      1200 non-null int64
EmpHourlyRate                   1200 non-null int64
EmpJobInvolvement               1200 non-null int64
EmpJobLevel                     1200 non-null int64
EmpJobSatisfaction              1200 non-null int64
NumCompaniesWorked              1200 non-null int64
OverTime                        1200 non-null object
EmpLastSalaryHikePercent        1200 non-null int64
EmpRelationshipSatisfaction     1200 non-null int64
TotalWorkExperienceInYears      1200 non-null int64
TrainingTimesLastYear           1200 non-null int64
EmpWorkLifeBalance              1200 non-null int64
ExperienceYearsAtThisCompany    1200 non-null int64
ExperienceYearsInCurrentRole    1200 non-null int64
YearsSinceLastPromotion         1200 non-null int64
YearsWithCurrManager            1200 non-null int64
Attrition                       1200 non-null object
PerformanceRating               1200 non-null int64
dtypes: int64(19), object(9)
memory usage: 262.6+ KB

In [6]:
df.EmpNumber.value_counts()

E1001282    1
E1002217    1
E1002153    1
E1001813    1
E100880     1
E1002030    1
E1001952    1
E1002260    1
E1001918    1
E1001338    1
E100865     1
E100729     1
E1002298    1
E1001528    1
E100822     1
E100518     1
E1001764    1
E1001118    1
E1001877    1
E1002276    1
E1001453    1
E100621     1
E1002212    1
E1001147    1
E1002142    1
E100310     1
E1001794    1
E1001460    1
E1001798    1
E100499     1
           ..
E100870     1
E1002166    1
E1001428    1
E1002101    1
E100376     1
E1001418    1
E100988     1
E1001239    1
E1001564    1
E1001737    1
E100898     1
E1001987    1
E100323     1
E1002322    1
E1001303    1
E1002281    1
E100698     1
E100417     1
E1001071    1
E1001049    1
E1002221    1
E1002249    1
E100730     1
E1001009    1
E1001523    1
E1002326    1
E1001264    1
E1001787    1
E1001830    1
E100776     1
Name: EmpNumber, Length: 1200, dtype: int64

In [7]:
df1=df.drop('EmpNumber',axis=1)

In [8]:
df.Gender.value_counts()

Male      725
Female    475
Name: Gender, dtype: int64

In [9]:
df.columns

Index(['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus',
       'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency',
       'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction',
       'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel',
       'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'PerformanceRating'],
      dtype='object')

In [10]:
df.EducationBackground.value_counts()

Life Sciences       492
Medical             384
Marketing           137
Technical Degree    100
Other                66
Human Resources      21
Name: EducationBackground, dtype: int64

In [11]:
df['MaritalStatus'].value_counts()

Married     548
Single      384
Divorced    268
Name: MaritalStatus, dtype: int64

In [12]:
df['EmpDepartment'].value_counts()

Sales                     373
Development               361
Research & Development    343
Human Resources            54
Finance                    49
Data Science               20
Name: EmpDepartment, dtype: int64

In [13]:
df['EmpJobRole'].value_counts()

Sales Executive              270
Developer                    236
Manager R&D                   94
Research Scientist            77
Sales Representative          69
Laboratory Technician         64
Senior Developer              52
Manager                       51
Finance Manager               49
Human Resources               45
Technical Lead                38
Manufacturing Director        33
Healthcare Representative     33
Data Scientist                20
Research Director             19
Business Analyst              16
Senior Manager R&D            15
Delivery Manager              12
Technical Architect            7
Name: EmpJobRole, dtype: int64

In [14]:
df['BusinessTravelFrequency'].value_counts()

Travel_Rarely        846
Travel_Frequently    222
Non-Travel           132
Name: BusinessTravelFrequency, dtype: int64

In [15]:
df.OverTime.value_counts()

No     847
Yes    353
Name: OverTime, dtype: int64

In [16]:
df.Attrition.value_counts()

No     1022
Yes     178
Name: Attrition, dtype: int64

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le=LabelEncoder()

In [19]:
df1

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,No,3
1,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,No,3
2,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,20,2,3,18,13,1,12,No,4
3,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,23,2,2,21,6,12,6,No,3
4,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,4,10,1,3,2,2,2,2,No,3
5,27,Male,Life Sciences,Divorced,Development,Developer,Travel_Frequently,10,2,4,...,3,9,4,2,9,7,1,7,No,4
6,50,Male,Marketing,Married,Sales,Sales Representative,Travel_Rarely,8,4,4,...,4,4,2,3,2,2,2,2,No,3
7,28,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,2,1,...,4,10,4,3,7,7,3,7,Yes,3
8,36,Female,Life Sciences,Married,Development,Developer,Non-Travel,8,3,1,...,1,10,2,3,8,7,0,5,No,3
9,38,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,3,3,...,4,10,4,4,1,0,0,0,No,3
10,44,Male,Medical,Single,Development,Developer,Non-Travel,24,3,1,...,3,9,5,3,5,2,1,4,No,3
11,47,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,3,4,...,4,28,2,2,22,2,11,13,No,3
12,30,Male,Marketing,Divorced,Sales,Sales Executive,Travel_Rarely,27,5,3,...,4,10,2,2,8,7,7,7,No,4
13,29,Male,Life Sciences,Single,Sales,Sales Representative,Travel_Rarely,10,3,3,...,3,1,6,3,1,0,0,0,No,3
14,42,Male,Medical,Divorced,Development,Developer,Travel_Frequently,19,3,3,...,4,7,2,3,2,2,2,2,Yes,3
15,34,Female,Medical,Single,Development,Developer,Travel_Rarely,8,2,2,...,4,10,2,3,5,1,4,3,No,3
16,39,Female,Human Resources,Married,Human Resources,Human Resources,Travel_Rarely,3,3,3,...,3,12,3,1,8,3,3,6,No,3
17,56,Male,Medical,Married,Development,Developer,Travel_Rarely,9,3,3,...,3,30,1,2,10,7,1,1,No,3
18,40,Female,Medical,Single,Development,Developer,Travel_Rarely,2,1,4,...,4,5,2,2,4,2,2,3,No,4
19,27,Female,Medical,Single,Development,Developer,Travel_Rarely,7,3,4,...,1,9,2,1,7,6,0,7,No,3
20,29,Male,Marketing,Divorced,Sales,Sales Representative,Travel_Rarely,10,3,4,...,4,2,2,3,2,2,2,2,No,3
21,53,Male,Life Sciences,Single,Development,Developer,Travel_Rarely,6,3,4,...,4,19,4,3,2,2,2,2,No,3
22,35,Female,Life Sciences,Divorced,Development,Senior Developer,Non-Travel,2,4,4,...,1,16,2,4,1,0,0,0,No,3
23,32,Male,Life Sciences,Married,Development,Developer,Travel_Frequently,24,4,1,...,4,10,2,3,10,8,4,7,No,3
24,34,Female,Life Sciences,Divorced,Development,Developer,Travel_Rarely,8,5,2,...,3,7,3,3,0,0,0,0,No,3
25,52,Male,Marketing,Married,Sales,Manager,Travel_Rarely,3,4,3,...,1,34,3,4,34,6,1,16,No,4
26,33,Male,Other,Single,Development,Developer,Travel_Rarely,1,4,4,...,3,10,2,2,10,9,7,8,Yes,3
27,25,Female,Medical,Single,Sales,Sales Executive,Travel_Rarely,26,1,3,...,2,6,5,2,6,5,1,4,No,4
28,45,Male,Technical Degree,Single,Sales,Sales Representative,Travel_Rarely,2,2,2,...,1,9,3,3,8,7,3,1,No,3
29,23,Male,Medical,Single,Development,Developer,Travel_Rarely,10,1,1,...,4,2,3,3,2,2,0,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,38,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,1,3,...,4,8,3,2,0,0,0,0,No,3
1171,43,Male,Medical,Divorced,Development,Senior Developer,Travel_Frequently,9,5,4,...,2,10,3,3,8,7,4,7,No,3
1172,48,Female,Life Sciences,Married,Development,Senior Developer,Travel_Rarely,1,4,4,...,1,21,3,1,3,2,0,2,No,3
1173,44,Female,Life Sciences,Single,Human Resources,Human Resources,Travel_Rarely,1,4,1,...,2,10,1,4,2,2,0,2,No,3
1174,34,Female,Technical Degree,Divorced,Sales,Sales Representative,Travel_Rarely,14,3,3,...,4,8,3,3,8,2,0,6,No,3
1175,27,Male,Marketing,Divorced,Sales,Sales Representative,Travel_Rarely,2,1,3,...,2,5,3,3,4,3,0,2,Yes,3
1176,21,Male,Technical Degree,Single,Sales,Sales Representative,Travel_Rarely,22,1,3,...,3,3,2,3,3,2,1,2,No,3
1177,44,Male,Other,Married,Development,Senior Developer,Travel_Rarely,3,4,4,...,1,26,2,4,2,2,0,1,No,3
1178,22,Male,Medical,Married,Development,Developer,Travel_Rarely,6,1,1,...,4,3,3,3,2,2,2,2,No,3
1179,32,Female,Life Sciences,Married,Development,Developer,Travel_Rarely,9,4,1,...,4,6,2,2,6,4,0,5,No,3
1180,30,Female,Medical,Divorced,Development,Developer,Travel_Frequently,3,3,3,...,3,1,2,3,1,0,0,0,No,4
1181,34,Male,Life Sciences,Married,Development,Senior Developer,Travel_Rarely,1,5,2,...,4,10,4,2,10,9,8,8,No,3
1182,26,Female,Life Sciences,Married,Development,Developer,Travel_Rarely,6,3,3,...,3,3,2,3,3,2,0,2,No,3
1183,37,Male,Other,Married,Development,Developer,Travel_Rarely,3,3,3,...,3,10,2,3,10,7,7,8,No,3
1184,29,Female,Medical,Married,Sales,Sales Executive,Travel_Rarely,3,2,2,...,1,6,5,2,6,0,1,2,No,3
1185,35,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,6,4,2,...,2,17,3,3,17,11,11,8,No,3
1186,54,Male,Medical,Married,Human Resources,Human Resources,Travel_Rarely,19,4,3,...,3,16,1,4,9,7,7,1,No,3
1187,36,Male,Medical,Divorced,Development,Developer,Travel_Rarely,9,2,2,...,3,13,2,3,3,2,0,2,No,3
1188,20,Male,Medical,Single,Development,Senior Developer,Travel_Rarely,10,1,4,...,4,1,5,3,1,0,1,1,Yes,3
1189,33,Male,Life Sciences,Single,Development,Senior Developer,Travel_Frequently,3,3,1,...,1,10,3,3,10,8,9,7,Yes,3
1190,23,Male,Medical,Married,Development,Developer,Travel_Rarely,4,3,1,...,1,5,3,4,3,2,0,2,No,4
1191,25,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Rarely,8,3,4,...,3,4,4,3,3,2,1,2,No,4
1192,38,Female,Marketing,Single,Sales,Sales Executive,Travel_Rarely,7,4,4,...,1,8,2,3,7,7,0,5,No,4
1193,29,Male,Life Sciences,Divorced,Development,Developer,Travel_Frequently,1,4,2,...,4,10,5,3,10,7,2,8,No,3
1194,48,Male,Marketing,Married,Sales,Sales Executive,Travel_Rarely,2,1,2,...,4,12,3,3,2,2,2,2,No,3
1195,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,4,...,2,6,3,3,6,5,0,4,No,4
1196,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,4,...,1,4,2,3,1,0,0,0,No,3
1197,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,4,...,3,20,3,3,20,8,3,8,No,3
1198,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,4,...,2,9,3,4,8,7,7,7,No,3
1199,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,1,...,1,4,3,3,2,2,2,0,Yes,2

In [20]:
df1[['Gender', 'EducationBackground', 'MaritalStatus','EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency','OverTime','Attrition']]=df1[['Gender', 'EducationBackground', 'MaritalStatus','EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency','OverTime','Attrition']][['Gender', 'EducationBackground', 'MaritalStatus','EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency','OverTime','Attrition']].apply(LabelEncoder().fit_transform)

In [21]:
df1

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,1,2,2,5,13,2,10,3,4,...,4,10,2,2,10,7,0,8,0,3
1,47,1,2,2,5,13,2,14,4,4,...,4,20,2,3,7,7,1,7,0,3
2,40,1,1,1,5,13,1,5,4,4,...,3,20,2,3,18,13,1,12,0,4
3,41,1,0,0,3,8,2,10,4,2,...,2,23,2,2,21,6,12,6,0,3
4,60,1,2,2,5,13,2,16,4,1,...,4,10,1,3,2,2,2,2,0,3
5,27,1,1,0,1,3,1,10,2,4,...,3,9,4,2,9,7,1,7,0,4
6,50,1,2,1,5,14,2,8,4,4,...,4,4,2,3,2,2,2,2,0,3
7,28,0,1,2,1,3,2,1,2,1,...,4,10,4,3,7,7,3,7,1,3
8,36,0,1,1,1,3,0,8,3,1,...,1,10,2,3,8,7,0,5,0,3
9,38,0,1,2,1,3,2,1,3,3,...,4,10,4,4,1,0,0,0,0,3
10,44,1,3,2,1,3,0,24,3,1,...,3,9,5,3,5,2,1,4,0,3
11,47,0,3,0,5,13,1,3,3,4,...,4,28,2,2,22,2,11,13,0,3
12,30,1,2,0,5,13,2,27,5,3,...,4,10,2,2,8,7,7,7,0,4
13,29,1,1,2,5,14,2,10,3,3,...,3,1,6,3,1,0,0,0,0,3
14,42,1,3,0,1,3,1,19,3,3,...,4,7,2,3,2,2,2,2,1,3
15,34,0,3,2,1,3,2,8,2,2,...,4,10,2,3,5,1,4,3,0,3
16,39,0,0,1,3,6,2,3,3,3,...,3,12,3,1,8,3,3,6,0,3
17,56,1,3,1,1,3,2,9,3,3,...,3,30,1,2,10,7,1,1,0,3
18,40,0,3,2,1,3,2,2,1,4,...,4,5,2,2,4,2,2,3,0,4
19,27,0,3,2,1,3,2,7,3,4,...,1,9,2,1,7,6,0,7,0,3
20,29,1,2,0,5,14,2,10,3,4,...,4,2,2,3,2,2,2,2,0,3
21,53,1,1,2,1,3,2,6,3,4,...,4,19,4,3,2,2,2,2,0,3
22,35,0,1,0,1,15,0,2,4,4,...,1,16,2,4,1,0,0,0,0,3
23,32,1,1,1,1,3,1,24,4,1,...,4,10,2,3,10,8,4,7,0,3
24,34,0,1,0,1,3,2,8,5,2,...,3,7,3,3,0,0,0,0,0,3
25,52,1,2,1,5,8,2,3,4,3,...,1,34,3,4,34,6,1,16,0,4
26,33,1,4,2,1,3,2,1,4,4,...,3,10,2,2,10,9,7,8,1,3
27,25,0,3,2,5,13,2,26,1,3,...,2,6,5,2,6,5,1,4,0,4
28,45,1,5,2,5,14,2,2,2,2,...,1,9,3,3,8,7,3,1,0,3
29,23,1,3,2,1,3,2,10,1,1,...,4,2,3,3,2,2,0,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,38,0,1,2,1,3,2,1,1,3,...,4,8,3,2,0,0,0,0,0,3
1171,43,1,3,0,1,15,1,9,5,4,...,2,10,3,3,8,7,4,7,0,3
1172,48,0,1,1,1,15,2,1,4,4,...,1,21,3,1,3,2,0,2,0,3
1173,44,0,1,2,3,6,2,1,4,1,...,2,10,1,4,2,2,0,2,0,3
1174,34,0,5,0,5,14,2,14,3,3,...,4,8,3,3,8,2,0,6,0,3
1175,27,1,2,0,5,14,2,2,1,3,...,2,5,3,3,4,3,0,2,1,3
1176,21,1,5,2,5,14,2,22,1,3,...,3,3,2,3,3,2,1,2,0,3
1177,44,1,4,1,1,15,2,3,4,4,...,1,26,2,4,2,2,0,1,0,3
1178,22,1,3,1,1,3,2,6,1,1,...,4,3,3,3,2,2,2,2,0,3
1179,32,0,1,1,1,3,2,9,4,1,...,4,6,2,2,6,4,0,5,0,3
1180,30,0,3,0,1,3,1,3,3,3,...,3,1,2,3,1,0,0,0,0,4
1181,34,1,1,1,1,15,2,1,5,2,...,4,10,4,2,10,9,8,8,0,3
1182,26,0,1,1,1,3,2,6,3,3,...,3,3,2,3,3,2,0,2,0,3
1183,37,1,4,1,1,3,2,3,3,3,...,3,10,2,3,10,7,7,8,0,3
1184,29,0,3,1,5,13,2,3,2,2,...,1,6,5,2,6,0,1,2,0,3
1185,35,1,1,2,1,15,2,6,4,2,...,2,17,3,3,17,11,11,8,0,3
1186,54,1,3,1,3,6,2,19,4,3,...,3,16,1,4,9,7,7,1,0,3
1187,36,1,3,0,1,3,2,9,2,2,...,3,13,2,3,3,2,0,2,0,3
1188,20,1,3,2,1,15,2,10,1,4,...,4,1,5,3,1,0,1,1,1,3
1189,33,1,1,2,1,15,1,3,3,1,...,1,10,3,3,10,8,9,7,1,3
1190,23,1,3,1,1,3,2,4,3,1,...,1,5,3,4,3,2,0,2,0,4
1191,25,1,1,1,5,13,2,8,3,4,...,3,4,4,3,3,2,1,2,0,4
1192,38,0,2,2,5,13,2,7,4,4,...,1,8,2,3,7,7,0,5,0,4
1193,29,1,1,0,1,3,1,1,4,2,...,4,10,5,3,10,7,2,8,0,3
1194,48,1,2,1,5,13,2,2,1,2,...,4,12,3,3,2,2,2,2,0,3
1195,27,0,3,0,5,13,1,3,1,4,...,2,6,3,3,6,5,0,4,0,4
1196,37,1,1,2,1,15,2,10,2,4,...,1,4,2,3,1,0,0,0,0,3
1197,50,1,3,1,1,15,2,28,1,4,...,3,20,3,3,20,8,3,8,0,3
1198,34,0,3,2,0,1,2,9,3,4,...,2,9,3,4,8,7,7,7,0,3
1199,24,0,1,2,5,13,2,3,2,1,...,1,4,3,3,2,2,2,0,1,2

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 27 columns):
Age                             1200 non-null int64
Gender                          1200 non-null int32
EducationBackground             1200 non-null int32
MaritalStatus                   1200 non-null int32
EmpDepartment                   1200 non-null int32
EmpJobRole                      1200 non-null int32
BusinessTravelFrequency         1200 non-null int32
DistanceFromHome                1200 non-null int64
EmpEducationLevel               1200 non-null int64
EmpEnvironmentSatisfaction      1200 non-null int64
EmpHourlyRate                   1200 non-null int64
EmpJobInvolvement               1200 non-null int64
EmpJobLevel                     1200 non-null int64
EmpJobSatisfaction              1200 non-null int64
NumCompaniesWorked              1200 non-null int64
OverTime                        1200 non-null int32
EmpLastSalaryHikePercent        1200 non-null int64
EmpRelationshipSatisfaction     1200 non-null int64
TotalWorkExperienceInYears      1200 non-null int64
TrainingTimesLastYear           1200 non-null int64
EmpWorkLifeBalance              1200 non-null int64
ExperienceYearsAtThisCompany    1200 non-null int64
ExperienceYearsInCurrentRole    1200 non-null int64
YearsSinceLastPromotion         1200 non-null int64
YearsWithCurrManager            1200 non-null int64
Attrition                       1200 non-null int32
PerformanceRating               1200 non-null int64
dtypes: int32(8), int64(19)
memory usage: 215.7 KB

In [23]:
X=df1.drop('PerformanceRating',axis=1)
y=df1.PerformanceRating

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [26]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [27]:
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
model=LogisticRegression()

In [30]:
model.fit(X_train_scaled,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
from sklearn import metrics

In [32]:
y_train_lgr_pred=model.predict(X_train_scaled)

In [33]:
print(metrics.classification_report(y_train,y_train_lgr_pred))

              precision    recall  f1-score   support

           2       0.71      0.54      0.61       142
           3       0.85      0.93      0.89       598
           4       0.79      0.56      0.65       100

    accuracy                           0.82       840
   macro avg       0.78      0.68      0.72       840
weighted avg       0.82      0.82      0.81       840

In [34]:
metrics.confusion_matrix(y_train,y_train_lgr_pred)

array([[ 77,  61,   4],
       [ 28, 559,  11],
       [  4,  40,  56]], dtype=int64)

In [35]:
model.fit(X_test_scaled,y_test)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
y_test_lgr_pred=model.predict(X_test_scaled)

In [37]:
print(metrics.classification_report(y_test,y_test_lgr_pred))

              precision    recall  f1-score   support

           2       0.65      0.38      0.48        52
           3       0.85      0.95      0.90       276
           4       0.79      0.47      0.59        32

    accuracy                           0.83       360
   macro avg       0.76      0.60      0.66       360
weighted avg       0.81      0.83      0.81       360

In [38]:
from sklearn.tree import DecisionTreeClassifier
clf_gini=DecisionTreeClassifier(criterion='gini',random_state=0, max_depth=2)

In [39]:
clf_gini.fit(X_train_scaled,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [40]:
y_train_dtg_pred=clf_gini.predict(X_train_scaled)

In [41]:
print(metrics.classification_report(y_train,y_train_dtg_pred))

              precision    recall  f1-score   support

           2       0.00      0.00      0.00       142
           3       0.78      0.99      0.87       598
           4       0.90      0.71      0.79       100

    accuracy                           0.79       840
   macro avg       0.56      0.57      0.55       840
weighted avg       0.66      0.79      0.71       840

In [42]:
metrics.confusion_matrix(y_train,y_train_dtg_pred)

array([[  0, 142,   0],
       [  0, 590,   8],
       [  0,  29,  71]], dtype=int64)

In [43]:
clf_gini.fit(X_test_scaled,y_test)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [44]:
y_test_dtg_pred=clf_gini.predict(X_test)

In [45]:
print(metrics.classification_report(y_test,y_test_dtg_pred))

              precision    recall  f1-score   support

           2       0.00      0.00      0.00        52
           3       0.00      0.00      0.00       276
           4       0.09      1.00      0.16        32

    accuracy                           0.09       360
   macro avg       0.03      0.33      0.05       360
weighted avg       0.01      0.09      0.01       360

In [46]:
metrics.confusion_matrix(y_test,y_test_dtg_pred)

array([[  0,   0,  52],
       [  0,   0, 276],
       [  0,   0,  32]], dtype=int64)

In [47]:
from xgboost import XGBClassifier
classifire=XGBClassifier()

In [48]:
classifire.fit(X_test_scaled,y_test)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [49]:
y_test_xgb_pred=classifire.predict(X_test_scaled)

In [50]:
print(metrics.classification_report(y_test,y_test_xgb_pred))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00        52
           3       1.00      1.00      1.00       276
           4       1.00      1.00      1.00        32

    accuracy                           1.00       360
   macro avg       1.00      1.00      1.00       360
weighted avg       1.00      1.00      1.00       360